
h2 {
  color: #e8c552;
  margin: 20px;
}

.class-item {
  overflow: hidden;
  margin-bottom: 30px;
}

.class-item .ci-pic img {
  min-width: 100%;
}

.class-item .ci-text {
  background: #000000;
  position: relative;
  padding: 10px 30px 26px 30px;
  z-index: 1;
}

.class-item .ci-text:after {
  position: absolute;
  left: -5px;
  top: -44px;
  height: 100px;
  width: 600px;
  border-top: 4px solid #464646;
  background: #0a0a0a;
  content: "";
  transform: rotate(-5deg);
  z-index: -1;
}

.class-item .ci-text span {
  color: #e8c552;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.class-item .ci-text h5,
.class-item .ci-text h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4px;
}

.class-item .ci-text a {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: rgba(255, 255, 255, 0.1);
  line-height: 46px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  right: 30px;
  bottom: 26px;
}

/* Class Timetable */
.class-timetable-section {
  background: #000000;
  margin-bottom: 150px;
  margin-top: 25px;
}

.time-slot {
  color: #e8c552; 
}


.class-timetable-section.class-details-timetable {
  padding-top: 0;
}

.class-timetable table {
  border: 1px solid #363636;
  text-align: center;
}

.class-timetable table thead {
  border-bottom: 1px solid #363636;
}

.class-timetable table thead tr th {
  font-size: 14px;
  color: #000000;
  background: #e8c552;
  border-right: 1px solid #363636;
  padding: 15px 0;
  font-weight: 400;
}

.class-timetable table tbody tr td {
  width: 146px;
  padding: 35px 0;
}

.class-timetable table tbody tr td.class-time {
  font-size: 12px;
  color: #e8c552;
  background: #000000;
  border: 1px solid #363636;
}

.class-timetable table tbody tr td.dark-bg {
  background: #0a0a0a;
}

.class-timetable table tbody tr td.hover-bg {
  transition: all 0.3s;
}

.class-timetable table tbody tr td.hover-bg:hover {
  background: #e8c552;
}

.class-timetable table tbody tr td.blank-td {
  position: relative;
  overflow: hidden;
}

.class-timetable table tbody tr td.blank-td:after {
  position: absolute;
  left: -47px;
  top: 59px;
  width: 237px;
  height: 1px;
  background: #363636;
  content: "";
  transform: rotate(-40deg);
}

.class-timetable table tbody tr td h5 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.class-timetable table tbody tr td span {
  display: block;
  font-size: 12px;
  color: #a9a9a9;
}
