body {
  background-image: url(https://www.shutterstock.com/image-illustration/gym-weights-under-strong-dramatic-600nw-472696720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

h1 {
  color: #e8c552;
}

.class-timetable {
  text-align: center; /* Aligns all content in the parent container center */
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 25px auto 150px; /* Set top and bottom margins and auto for left and right */
  border: 1px solid #363636;
  text-align: center; /* Aligns all content in the table center */
  width: 75%; /* Adjust the width as needed */
}

th,
td {
  border: 1px solid #dddddd71;
  text-align: center; /* Aligns the content in table cells center */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000000;
}

td {
  color: #e8c552; /* Set default font color */
}

td:hover:not(.time-slot) {
  background-color: #e8c552;
  color: #000000; /* Set font color on hover */
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center; /* Center the text */
  color: #e8c552;
}

.btn h5 {
  margin-bottom: 5px; /* Add spacing between the elements */
}

.btn span {
  color: #5e5e5e; /* Light gray color for the trainer name */
}

table thead tr th {
  font-size: 18px;
  color: #000000;
  background: #e8c552;
  border-right: 1px solid #363636;
  font-weight: 400;
  width: 150px;
}
