.navbar {
  background-image: linear-gradient(rgb(0, 0, 0));
  height: 80px;
}

.navbar-nav {
  display: block;
}

.navbar-item {
  display: inline-block;
  margin-right: 10px;
}
.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-item:not(:last-child) {
  border-right: 1px solid #ffffff; /* Adjust color as needed */
  padding-right: 10px; /* Adjust spacing as needed */
}

li,
a {
  color: white;
  list-style: none;
  text-decoration: none;
}

li a:hover {
  color: #e8c552;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-bottom: 0;
}

body {
  padding-top: 50px;
}

.navbar__right {
  display: block;
  flex-direction: none;
  align-items: center;
}

.navbar-item {
  font-size: 25px;
}

footer {
  padding: 10px 20px;
}

.login-btn {
  background-color: #e8c552;
  box-shadow: 0 0 10px #3498db;
  border: 2px solid #c79e16;
  color: #000000;
  background-color: #e8c552;
}

.login-btn:hover {
  box-shadow: 0 0 20px #e8c552;
  background-color: #ffffff;
  color: #816e30;
}

/* New CSS - footer */


.footer-social .social-icon a:hover {
  color: #e8c552!important; /* Use !important to override other styles if needed */
}

.footer-container .footer-item-contact h5:hover,
.footer-container .footer-item-partners h5:hover,
.footer-container .footer-newsletter h5:hover,
.footer-container .footer-social h5:hover {
  color: #e8c552;
}

.footer-item-partners,
.footer-item-contact,
.footer-newsletter,
.footer-social {
  margin-left: 50px; /* Adjust the margin as needed */
  margin-right: 50px; /* Adjust the margin as needed */
}

.footer-social {
  margin-left: 80px;
}

.footer-item h5 {
  position: relative;
}
.footer-item-partners h5::after {
  border-bottom: 1px solid white; /* Adjust the border color and style as needed */
  content: '';
  display: block;
  margin-top: 15px; /* Adjust the space between the line and the content */
  margin-bottom: 15px;
  margin-right: 50px;
  width: 70%; /* Adjust the width of the line for .footer-item-partners */
}

.footer-item-contact h5::after {
  border-bottom: 1px solid white; /* Adjust the border color and style as needed */
  content: '';
  display: block;
  margin-top: 15px; /* Adjust the space between the line and the content */
  margin-bottom: 15px;
  margin-right: 50px;
  width: 80%; /* Adjust the width of the line for .footer-item-contact */
}

.footer-newsletter2 h5::after {
  border-bottom: 1px solid white; /* Adjust the border color and style as needed */
  content: '';
  display: block;
  margin-top: 15px; /* Adjust the space between the line and the content */
  margin-bottom: 15px;
  margin-right: 50px;
  width: 80%; /* Adjust the width of the line for .footer-newsletter */
}

.footer-social h5::after {
  border-bottom: 1px solid white; /* Adjust the border color and style as needed */
  content: '';
  display: block;
  margin-top: 15px; /* Adjust the space between the line and the content */
  margin-bottom: 15px;
  margin-right: 50px;
  width: 40%; /* Adjust the width of the line for .footer-social */
}

.footer-social {
  margin-top:20px;
}
.footer-item-contact p {
  margin-right: 10px; /* Add space between contact information */
  font-weight: normal; /* Set font weight to normal */
}