
.navbar {
    background-color: black; 
    height: 100px;
  }

  
  .navbar-item {
    display: inline-block;
    margin-right: 10px;
  }
  .navbar-list {
    display: flex;
    list-style-type: none;
  }
  
  
  .navbar-item:not(:last-child) {
    border-right: 1px solid #ffffff; /* Adjust color as needed */
    padding-right: 10px; /* Adjust spacing as needed */
  }
  
 li ,a {
  color: white;
  list-style: none;
  text-decoration: none;
 }


  li a:hover {
    color: #E8C552;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
  }
  
  .navbar__right {
    display: block;
    flex-direction: none;
    align-items: center; 
  }
  
  .navbar-item {
    font-size: 25px;
  }
  
footer {
  padding: 10px 20px;
}