@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
  }
}

.container {
  width: fit-content;
}

.slick-slide > div {
  margin: 20px;
}

.testimonial-card {
  background-color: #000000;
  height: 600px;
  color: rgb(255, 255, 255);
}

.slick-slide .slick-slide:hover {
  transform: scale(1.1, 1.1);
}

.slick-slide:hover > .slick-slide:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.slick-slide {
  width: 290px;
  height: auto;
  min-height: 1px;
}

.testimonial-image-container {
  height: 200px; /* Adjust height as needed */
  background-color: #ffffff7d; /* Adjust background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.testimonial-image {
  height: 150px; /* Adjust height as needed */
  width: 150px; /* Adjust width as needed */
  border-radius: 50%;
  border: solid;
  border-color: white;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  border-left: 1px solid #ffffff7d;
  border-right: 1px solid #ffffff7d;
  border-bottom: 1px solid #ffffff7d;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.testimonial-name {
  font-size: 20px;
  font-weight: bold;
}

.testimonial-review {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  padding-bottom: 50px;
  position: relative;
  color: #ffffff;
}

.testimonial-review:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
